{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(35, 135, 206);
}

p{
    margin: 50px;
    background-color: rgb(20, 0, 134);
    margin-left: 500px;
    margin-right: 500px;
    font-size:xx-large;
}

#t_1{
    background-color: rgb(219, 224, 255);
}

.title{
    background-color: rgb(204, 255, 238);
}

img{
    margin: 50px;
    border: 50px, solid;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}